.gallery_item {
  width: calc((100% - 45px) / 4);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 300ms linear;
}

.gallery_item:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.gallery_item:hover .image {
  scale: 1.1;
}

.img_wrap {
  height: 180px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  transition: scale 300ms linear;
}
